* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.main {
    background-color: rgb(218, 239, 246);
}

.main ul li img {
    width: 300px;
    border: 1px dashed rgb(6, 137, 6);
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}

.shang {
    margin-left: 45px;
}

.shang h3 {
    padding-top: 15px;
    text-align: center;
    font-size: 25px;
    color: rgb(11, 128, 211);
    margin-bottom: 15px;
}

.shang ul li {
    list-style: none;
    float: left;
    margin: 10px;
}

.shang ul li p {
    text-align: center;
    border-top: 1px dashed rgb(6, 137, 6);
    border-bottom: 1px dashed rgb(6, 137, 6);
    padding: 10px;
    margin-top: 8px;
}

.clear {
    clear: both;
}